<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarvelAPIDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32AA08C31DC5EBCF00C43F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32BF06451DC2CC2B00D32E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32BF06591DC2CC2C00D32E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32BF06641DC2CC2C00D32E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
